label{
    display: inline-block;
    width: 250px;
    font-size: large;
}
h1 {
    text-shadow: 2px 2px 4px rgb(5, 5, 5);
    font-size: large;
    
  }
a {
    text-shadow: 2px 2px 4px rgb(5, 5, 5);
    color: #1b1b1c;
  }
nav{
    position: relative;
    width: auto;
    background-color:rgba(255, 255, 255, .25);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
body{
    margin: 0;
    padding:0;
    font-family: cursive;
    width: 100%;
    height: 100%;
    background-image:url('bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
section{
    padding: 0 100px;   
    flex-direction: row-reverse;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    color: #1b1b1c;
    position: relative;
    max-width: 500px;
    padding: 100px;
    background:rgba(255, 255, 255, 0.4);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
   
}
select{
    font-size: 12px;
}

